<html><head>
    <title>Project Dashboard | Ajaila</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <link href="application.css" media="all" rel="stylesheet" type="text/css"><link href="bootstrap.css" media="all" rel="stylesheet" type="text/css">
  </head>
  <body>
    <div class="navbar navbar-top">
      <ul class="nav menu" style="float:left">
        <li class="bran">
          <a href="http://ajaila.github.com/">
            Ajaila
          </a>
          <span style="font-size:10px; font-family:Arial; color: yellow">beta</span>
        </li>
      </ul>
      <ul class="nav menu" style="float:right">
        <li class="page">
          <a href="/">
            Dashboard Home
          </a>
        </li>
      </ul>
    </div>
    <div class="container">
      <div class="row" style="padding: 15px">
        <div class="span1">
          <img alt="Your datamining sandbox" src="ajaila_small.png">
        </div>
        <div class="span10" style="text-align: center">
          <div class="row header">
            Project Dashboard
          </div>
          <div class="row descriptor">
             Charts, statistics and other useful things.
          </div>
        </div>
      </div>
      <div class="line" style="background-color: darkred; height: 5px;"></div>
      <div class="docs">
        <div id="wrapper">
          <div class="span11 info">
          	<p>
              <%= yield %>   
            </p>
          </div>
        </div>
      </div>
    </div>
</body></html>
